build --copt="--std=c++17"
build --copt="-O3"
build --copt="-DNDEBUG"
build --copt="-DUSE_GLPK"
build --define USE_GLPK=
build --incompatible_use_python_toolchains=false
run --copt="--std=c++17"
run --copt="-O3"
run --copt="-DNDEBUG"
run --copt="-DUSE_GLPK"
run --define USE_GLPK=
run --incompatible_use_python_toolchains=false
test --copt="--std=c++17"
test --copt="-O3"
test --test_output=all
test --action_env="GTEST_COLOR=1"
test --incompatible_use_python_toolchains=false
#build --compiler="clang"
